
#yellowBackground{
    background-color: var(--c-yellow);
    width: 70%;
    max-height: 90vh;
    margin: 2% 15% 0 15%;
    opacity: .74;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: scroll;

}
/* .productCard img{
    width: 100%;
    margin: 0 auto;

} */

.productCard {
    padding: 10% 5% 0% 5%;
    position: relative;
}
.productCard h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 100;
    font-size: 2em;
    margin: 0;
    /* width: 80%; */
    display: inline;
    margin-right: 15px;
    /* height: 30px; */
}

.productCard button {
    position: absolute;
    right: 5%;
    height: 2.2em;
    font-family: 'Pacifico', cursive;
    font-weight: 700;
    color: var(--c-red);
    background-color: var(--c-green);
    /* bottom: 50%; */
}

button.round-button{
    height: 80px;
    width:80px;
    border-radius: 70px;
    margin: 45px;

}
#add-button{
background-color: var(--c-red);
position: absolute;
bottom: 30px;
right: 30px;
font-size: 1.2em;
opacity: 1;
}
#add-button:hover{
    background-color: var(--c-green);    
}