@import url('https://fonts.googleapis.com/css?family=Alegreya|Open+Sans|Pacifico');

.App {
background-image: url('../../images/background.jpg');
background-size: cover;
height:92vh;
background-position: center; 
background-repeat: no-repeat;
padding: 8vh 8vh 0 8vh;
color: #020402;
font-family: 'Pacifico', cursive;
}

#loginContainer{
  color: #020402;
  height: 80vh;
  width: 90vw;
  /* max-width: 90vw; */
  background-color: #6F934C;
  margin:0 auto;
  display: flex;
  /* padding: 3%; */
  box-sizing: border-box;
  opacity: .8;
}

#logoSection, #right{
  width:50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#logoSection h4{
  font-size: 3em;
  margin: 0px;
  text-align: center;
}
#logoSection h2{
  font-size: 5em;
  margin:0;
  text-align: center;
}

img {
  margin: 0px;
  width: 60%;
  margin-bottom: 50px;
}

#right{
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(0, 0, 0, 0.39);
}
#right div{
  height: 50px;
  width: 100%;
  margin-bottom: 20px; 
  font-size: 2em;
}
#right div>input{
  width:70%;
  height: 40px;
}
#right button{
  height: 40px;
  /* width: 100%; */
  font-size: .8em;
  margin:10px;
  background-color: #E5B642;
  color: #AF3236;
  border-radius: 7px;
  padding: 30px;
}
