@import url('https://fonts.googleapis.com/css?family=Alegreya|Open+Sans|Pacifico');

.App {
background-image: url('../../images/background.jpg');
background-size: cover;
height:100vh;
width: 100vw;
background-position: center; 
background-repeat: no-repeat;
color: #020402;
font-family: 'Pacifico', cursive;
/* padding: 5%; */

}

input:disabled {
  background: #ccc;
}

#loginContainer{
  color: var(--c-white);
  height: 100vh;
  width: calc(100vw - 10%);
  background-color: #6F934C;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  opacity: .9;
  max-width: 580px;
}

#logoSection, #right{
  width:50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 1.4em;
}

#logoSection h4, #logoSection h2{
  margin: 0px;
  text-align: center;
  color: var(--c-black);
}
#logoSection h2{
  margin:0;
  text-align: center;
}

img {
  margin: 0px;
  width: 100%;
  margin-bottom: 10%;
}

#right{
  border-left: 1px solid rgba(0, 0, 0, 0.226);
}
#right div{
  color:#020402
}
#right div>input{
  width:100%;
  height: 40px;
}
#right button{
  height: 40px;
  width: 100%;
  font-size: .8em;
  margin-top:20px;
  background-color: #E5B642;
  color: #AF3236;
  border-radius: 7px;
  /* padding: 30px; */
}

@media screen and (min-width:510px){
  #logoSection h2{
    font-size: 3em;
  }
  #logoSection h4{
    font-size: 1.5em;
  }
}
