@import url('https://fonts.googleapis.com/css?family=Alegreya|Open+Sans+Condensed:300|Pacifico');

/* 
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Alegreya', serif; 
*/